@import "tailwindcss";

@theme {
  --color-brand-bg: #FFF0F5;
  --color-brand-navbar: #FBCFE8;
  --color-brand-border: #FFD6E7;
  --color-brand-pink: #F472B6;
  --color-brand-pink-dark: #BE185D;
  --color-brand-pink-darker: #831843;
  --color-brand-active: #2D1B2E;
}

body {
  background-color: var(--color-brand-bg);
  color: #1F1F1F;
}
